@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* --- Reset --- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
}

/* .contenedor_principal{
    width: 80%;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    display: grid;
} */


/*! --- HEADER --- */

header{
    height: 134px;
    background-color: white;
    padding: 20px;
    position: sticky;
    top: 0px;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


header h1{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 28px;
    margin-bottom: 20px;
}

header nav ul{
    display:flex;
    justify-content:center;
    list-style: none;
}

header nav ul li{
    margin-right:20px;
}

header nav ul li a{
    text-decoration: none;
    color: black;
    padding: 5px;
}

header nav ul li a:hover{
    background-color: black;
    color: white;
}

header div{
        display: flex;
        flex-direction: row;
        align-items: center;
}

header div a img{
    width: 32px;
    height: 32px;
    margin: 0px 5px 0px 0px;
}

/*! --- MAIN --- */

/*? --- INDEX --- */

/* Hero */
.hero{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 134px + 70px);
    text-align: center;
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.hero div{
    width: 500px;
    height: 250px;
    display: inline-block;
    background-color: white;
    margin: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.hero h2{
    margin: 30px 0px 20px 0px;
}

.hero div p{
    width: 280px;
}


.boton{
    width: 150px;
    height: 50px;
    color: white;
    background-color: black;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    margin-top: 20px;
    border-radius:30px 30px 30px 30px;
    border: 2px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .boton:hover{
    background-color:rgb(169, 228, 219);
    color: black;
}


/* Sobre Mí*/

.sobremi{
    /* height: 504.77px; */
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}

.sobremi div{
    width: 400px;
    height: 600px;
    /* border: 2px solid black; */
    background-color: white;
    /* border-radius:15px 15px 15px 15px; */
    margin: 20px;
    text-align: center;
    /* display: inline-block; */
    position: relative;
    bottom: 70px;
}

.sobremi h2{
    padding: 30px;
}

.sobremi p{
    padding: 0 30px 30px 30px;
}

.sobremi div img{
    width: 100%;
    height: 100%;
    padding: 30px;
}

/* Galería */
.galeria{
    width: 100%;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 500px;
    gap: 20px;
    background-color: #e7e7e7;
    margin-top: 20px;
    margin-bottom: 20px;
}

.galeria .galeria_imagen_1{
    grid-column: span 2;
}

.galeria .galeria_imagen_3{
    grid-row: span 2;
}

/* .subtitulo{
    margin-top: 100px;
    text-align: center;
    text-transform: uppercase;
    grid-area:titulo;
} */

/* .galeria div{
    width: 379.98px;
    height: 500px;
} */

.galeria div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Promoción */

.promocion{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
    height: 643.55px;
    background-image: url(../img/seccion_descuento.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.promocion div{
    width: 500px;
    height: 250px;
    display: inline-block;
    background-color: white;
    margin: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Servicios */

.servicios{
    display: flex;
    justify-content:space-around;
    flex-direction: column;
    flex-wrap: wrap;
}


.servicios .servicios_contenedor{
    display: flex;
    justify-content:space-around;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.servicios .servicios_contenedor div{
    width: 500px;
    margin: 50px;
}


/* Botón Whatsapp */

.boton-whatsapp{
    position: fixed;
    right: 50px;
    bottom: 50px;
}

.boton-whatsapp img{
    width: 60px;
    height: 60px;
}

/*! --- FOOTER --- */

footer{
    background-color: #e7e7e7;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

footer nav ul{
    list-style: none;
}

footer nav ul li a{
    text-decoration: none;
    color: black;
}

footer nav ul li a:hover{
    background-color: black;
    color: white;    
}

footer div a img{
    width: 32px;
    height: 32px;
}

footer nav ul li{
    margin-left:20px;
}

footer div {
    text-align: center;
}

/*! --- MEDIAS QUERIES --- */

@media screen and (max-width:930px) {
    header{
        flex-direction: column;
        height: auto;
    }

    header h1{
        font-size: 20px;
    }

    header div{
        margin-top: 5px;
    }
    .boton-whatsapp img{
        width: 48px;
        height: 48px;
    }
}

@media screen and (max-width: 824px) {
    .galeria{
        width: 100%;
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 300px;
        gap: 20px;
        background-color: #e7e7e7;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .galeria .contenedor{
        grid-column: span 1;
        grid-row: span 1;
    }

    .galeria .galeria_imagen_1{
        grid-column: span 2;
        grid-row: span 1;
    }

    .galeria .galeria_imagen_6{
        grid-column: span 2;
        grid-row: span 1;
    }
}

@media screen and (max-width:572px){
    header{
        position: static;
    }

    header nav ul{
        flex-direction: column;
        align-items: center;
    }
    header div{
        margin: 5px 0px 0px 0px;
    }

    .galeria{
        width: 100%;
        display:grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 200px;
        gap: 10px;
        background-color: #e7e7e7;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .galeria .contenedor{
        grid-column: span 1;
        grid-row: span 1;
    }

    .boton-whatsapp img{
        width: 42px;
        height: 42px;
    }
}

