@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* --- Reset --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif !important;
}

/* --- CLASES GENERALES --- */

/*! --- HEADER --- */

header {
    height: 134px;
    background-color: white;
    padding: 20px;
    position: sticky;
    top: 0px;
    z-index: 1;
}

/*! --- FOOTER --- */

footer {
    background-color: #e7e7e7;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

footer nav ul {
    list-style: none;
}

footer nav ul li a {
    text-decoration: none;
    color: black;
}

footer nav ul li a:hover {
    background-color: black;
    color: white;
    transition-duration: 1s;
}


footer div a img {
    width: 32px;
    height: 32px; 
}

footer nav ul li {
    margin: 15px;
}


footer div {
    text-align: center;
}

/* footer i {
    font-size: 32px;
} */

/* Botones */

.boton {
    width: 150px;
    height: 50px;
    color: white;
    background-color: black;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 30px 30px 30px 30px;
    border: 2px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botonPromocion {
    width: 200px;
    height: 50px;
    color: white;
    background-color: black;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 30px 30px 30px 30px;
    border: 2px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton:hover {
    background-color: #828282;
    border-color: #828282;
    opacity: 1;
    transition-duration: 1s;
}

/* Botón Whatsapp */

.botonWhatsapp {
    position: fixed;
    right: 40px;
    bottom: 40px;
}

.botonWhatsapp img {
    width: 60px;
    height: 60px;
}

.titulos {
    color: white;
    background-color: black;
    padding: 10px;
    opacity: 70%;
    text-align: center;
    font-family: "Dancing Script", cursive;
    font-weight: 100;
    font-style: normal;
}

.subtitulos {
    text-align: center;
    font-family: "Dancing Script", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 67px;
}

/* Navbar footer */
/* .navbarFooter {
    
} */

/* header nav ul li {
    margin-right: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: black;
    padding: 5px;
}

header nav ul li a:hover{
    background-color: black;
    color: white;
    transition-duration: 1s;
} */


/*! --- MAIN DE LAS PÁGINAS--- */

/*? --- INDEX --- */

/* Hero */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 134px + 70px);
    text-align: center;
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.hero div {
    width: 700px;
    height: 400px;
    display: inline-block;
    background-color: white;
    margin: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero h2 {
    margin: 30px 0px 20px 0px;
}

.hero div p {
    width: 280px;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 24px;
}

/* Sobre Mí*/

.sobreMi {
    height: 500px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.sobreMi div {
    width: 400px;
    height: 600px;
    background-color: white;
    margin: 20px;
    text-align: center;
    position: relative;
    bottom: 70px;
}

.sobreMi h2 {
    padding: 30px;
}

.sobreMi p {
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: #828282;

    padding: 0 30px 30px 30px;
}

.sobreMi div img{
    width: 100%;
    height: 100%;
    padding: 30px;
}

/* Galería */
.galeria {
    background-color: #e7e7e7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
}

.galeriaGrid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 500px;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0px 20px 0px 20px;
}

.galeriaGrid div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Promoción */

.promocion {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 643.55px;
    background-image: url(../img/seccion_descuento.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.promocion div {
    width: 500px;
    height: 250px;
    display: inline-block;
    background-color: white;
    margin: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*? --- ACERCA DE --- */

.acercaDeBanner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 670px;
    text-align: center;
    background-image: url(../img/banner_acerca_de.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: left center;
    background-attachment: fixed;
}

.acercaDeBanner div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
}

.acercaDeHistoria {
    margin: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.acercaDeHistoria div{
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/*? --- GALERÍA --- */


/*? --- SERVICIOS --- */

.servicios {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
}

.servicios .serviciosContenedor {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.servicios .serviciosContenedor div {
    width: 500px;
    margin: 50px;
}

.serviciosContenedor div img {
    margin-bottom: 10px;
}

/*? --- CONTACTO --- */

.form-contact{
    display: flex;
    justify-content:space-around;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.container {
    width: 50%;
    margin: 0 auto;
}

.form-contact {
    width: 100%;
    font-family: "Arial", Times, serif;
}

.form-contact-input {
    width: 100%;
    color: #292929;
    font-size: 18px;
    background-color: #E9E9E9;
    border: 1px solid #E9E9E9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 40px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    text-indent: 20px;
}

.form-contact-textarea {
    width: 100%;
    color: #292929;
    font-size: 18px;
    background-color: #E9E9E9;
    border: 1px solid #E9E9E9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 200px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    text-indent: 20px;
    padding-top: 16px;
    padding-left: 0;
    padding-right: 0;
    font-family: "Arial", Times, serif;
}

/*! --- MEDIAS QUERIES --- */

@media screen and (max-width:1320px) {
    header {
        flex-direction: column;
        height: auto;
    }

    .titulos {
        font-size: 20px;
    }

    header div {
        margin-top: 5px;
    }

    .boton-whatsapp img {
        width: 48px;
        height: 48px;
    }

    .sobreMi {
        height: 100%;
    }
}

@media screen and (max-width: 824px) {
    .hero div{
        width: 320px;
        height: 180px;
    }
    
    .hero p {
        margin-bottom: 20px;
    }

    .boton {
        margin-top: 0px;
        margin-bottom: 40px;
    }

    .galeriaGrid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 300px;
        gap: 20px;
        background-color: #e7e7e7;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .galeriaGrid .contenedor {
        grid-column: span 1;
        grid-row: span 1;
    }

    .galeriaGrid .galeriaImagen1 {
        grid-column: span 2;
        grid-row: span 1;
    }

    .galeriaGrid .galeriaImagen6 {
        grid-column: span 2;
        grid-row: span 1;
    }
}

@media screen and (max-width:610px) {
    header {
        position: static;
    }

    header nav ul {
        flex-direction: column;
        align-items: center;
    }

    header div {
        margin: 5px 0px 0px 0px;
    }

    .galeria {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 200px;
        gap: 10px;
        background-color: #e7e7e7;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .galeria .contenedor {
        grid-column: span 1;
        grid-row: span 1;
    }

    .botonWhatsapp img {
        width: 42px;
        height: 42px;
    }

    footer iframe {
        display: none;
    }
}