@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* --- Reset --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif !important;
}

/* --- Botones --- */

.boton {
    width: 150px;
    height: 50px;
    color: white;
    background-color: black;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 30px 30px 30px 30px;
    border: 2px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
        background-color: #828282;
        border-color: #828282;
        opacity: 1;
        transition-duration: 1s;
    }
}

.botonPromocion {
    width: 200px;
    height: 50px;
    color: white;
    background-color: black;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 30px 30px 30px 30px;
    border: 2px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
        background-color: #828282;
        border-color: #828282;
        opacity: 1;
        transition-duration: 1s;
    }
}

/* Botón Whatsapp */

.botonWhatsapp {
    position: fixed;
    right: 40px;
    bottom: 40px;
    img {
        width: 60px;
        height: 60px;
    }
}

.titulos {
    color: white;
    background-color: black;
    padding: 10px;
    opacity: 70%;
    text-align: center;
    font-family: "Dancing Script", cursive;
    font-weight: 100;
    font-style: normal;
}

.subtitulos {
    text-align: center;
    font-family: "Dancing Script", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 67px;
}
